<div class="container is-max-desktop" id="dashboard">
  <div class="section">
    <h2 class="title">Dashboard</h2>
    <form id="dashboard">
      <div class="field">
      </div>
      <div class="field">
      </div>
      <div class="field">
      </div>
    </form>
  </div>